.jira2sap-dropdown-arrow::-webkit-calendar-picker-indicator {
  display: none;/* remove default arrow */
}
.jira2sap-extra-arrow:after {
    content: url(https://i.stack.imgur.com/i9WFO.png);
    margin-left: -20px; 
    padding: .1em;
    cursor: pointer;
    pointer-events: none;
}